### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

ratings = pd.read_csv(r'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [2]:
ratings[(ratings['rating'] == 5)]['movieId'].value_counts().head()
#больше всего оценок 5 получил фильм с Id 318

318    48762
296    37458
356    32009
260    31385
593    30280
Name: movieId, dtype: int64

In [3]:
#Название фильма получаем из файла movies.csv
movies = pd.read_csv(r'movies.csv')
movies[(movies['movieId'] == 318)]

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
power = pd.read_csv(r'power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [5]:
#Выборка из основной таблицы по странам, а затем по категориям с положительным quantity
filtered_countries = power[ (power['country']=='Lithuania') | (power['country']=='Latvia') | (power['country']=='Estonia') ]
calculating_base = filtered_countries[(filtered_countries['quantity'] >= 0) & ((filtered_countries['category'] == 4) | (filtered_countries['category'] == 12) | (filtered_countries['category'] == 21))]

#Суммирование потребления за период с 2005 по 2010 включительно
calculating_base[(calculating_base['year'] >= 2005) & (calculating_base['year'] <= 2010)]['quantity'].sum()

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [6]:
url = 'https://fortrader.org/quotes'

df = pd.read_html(url, encoding='utf-8')
for item in df:
    print(item.head(), '\n')

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  86.84      -0.12         -0.14        NaN
1       USDRUB Курс рубля к доллару  73.36      -0.03         -0.04        NaN

                              Название    Цена  Изменение  Изменение(%)  \
0       Нефть Brent Курс нефти сегодня   77.31       0.21          0.27
1          Нефть WTI Цены на нефть WTI   76.35       0.11          0.14
2  Природный газ Цена на природный газ    3.76      -0.03         -0.74
3                                 Кофе  151.80      -1.25         -0.82
4                             Кукуруза  591.40      -0.60         -0.10

   Обновлено
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 808      13.00          1.00        NaN
1  Серебро Цена на серебро на бирже  26.66       0.24          0.90        NaN
2         Палладий Цена на Палладий  2 837      15.00          1.00        NaN
3           Платина Цены на платину  1 109       7.00          1.00        NaN
4           Медь Цена меди на бирже   4.39       0.04          1.01        NaN

                   Название      Цена  Изменение  Изменение(%)  Обновлено
0             ВТБ Акции ВТБ  0.049715  -0.000830     -1.642101        NaN
1    Газпром Акции газпрома    294.75      +3.65      1.250000        NaN
2       Лукойл Акции Лукойл   6 904.0      +59.0      0.900000        NaN
3   Роснефть Акции Роснефти    577.25      +9.75      1.720000        NaN
4  Сбербанк Акции Сбербанка    305.17      -1.83     -0.600000        NaN

                            Название      Цена  Изменение  Изменение(%)  \
0        Google Акции Google (GOOGL)  2 505.10      -0.05         -0.00
1                IBM Акции IBM (IBM)    140.25       0.23          0.16
2  Microsoft Акции Майкрософт (MSFT)    277.65       0.00          0.00
3           Apple Акции Apple (AAPL)    139.75      -0.21         -0.15
4               Yandex Акции яндекса     71.31      -0.01         -0.01

   Обновлено
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

  Название      Цена  Изменение  Изменение(%)  Обновлено
0     FXIT  11 026.0      -62.0         -0.60        NaN
1     FXRU     948.5       -1.1         -0.10        NaN
2     FXDE   3 085.5      -25.5         -0.80        NaN
3     FXCN   3 791.5      -79.5         -2.10        NaN
4     FXGD    893.20        5.2          0.59        NaN

                                  Название       Цена Изменение  Изменение(%)  \
0  Индекс МосБиржи Индекс МосБиржи (IMOEX)    390 000    +1 825           0.0
1             Индекс РТС Индекс РТС (RTSI)   1 659.72      0.00           0.0
2               Dow Jones Индекс Dow Jones  34 786.40      0.00           0.0
3                   S&P 500 Индекс S&P 500      4 340        -6          -0.0
4             Nasdaq 100 Индекс Nasdaq 100  14 727.60      0.00           0.0

   Обновлено
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

                    Название       Цена  Изменение  Изменение(%)  Обновлено
0  EUR/USD Евро / Доллар США    1.18368   -0.00256      -0.21581        NaN
1  GBP/USD Фунт / Доллар США    1.38438   -0.00091      -0.06569        NaN
2     USD/CHF Доллар / Франк    0.92380    0.00155       0.16807        NaN
3  USD/JPY Доллар США / Иена  110.80400   -0.11300      -0.10200        NaN
4      USD/CNH Доллар / Юань    6.46530    0.00360       0.05570        NaN

                                            Название       Цена  Изменение  \
0                              Bitcoin Курс биткоина  34 250.50  573.70000
1         Litecoin Курс лайткоин к доллару (LTC/USD)      138.2    0.50000
2  BitcoinCash Курс Биткоин кеш к доллару США (BC...     509.19    5.06000
3                                          Dash Dash     134.56    2.10000
4                                      Ripple Ripple    0.66589    0.01366

   Изменение(%)  Обновлено
0       1.70000        NaN
1       0.40000        NaN
2       1.00000        NaN
3       1.59000        NaN
4       2.09435        NaN